
<div class="featurette">
    <h2 class="featurette-heading">Origins</h2>

    <div class="row feature-primary">
        <div class="col-md-7">
            <div class="row">
                <div class="col-md-6"><img src="{{ asset("build/images/2011_tests.jpg") }}" /></div>
                <div class="col-md-6"><img src="{{ asset("build/images/2011_zoom_proto.jpg") }}" /></div>
            </div>
            <div class="row">
                <div class="col-md-6"><img src="{{ asset("build/images/2011_jerryrocket.jpg") }}" /></div>
                <div class="col-md-6"><img src="{{ asset("build/images/2011_humanitech.jpg") }}" /></div>
            </div>
        </div>
        <div class="col-md-5">
            <h2>2011</h2>
            <h3>Hedera &#43; ENSCI &#61; Jerry !</h3>
            <p>Jerry is born in Paris as a collaboration between <a href="http://www.hederatech.com/">Hedera Technology</a>&#44; a startup founded by Antoine Castaing and J&#233;r&#233;mie Bourdoncle&#44; and 3 design students from <a href="http://www.ensci.com/en/">ENSCI</a> &#58; Laure Guillou&#44; Xavier Auffret and Chemsedine Herriche&#46;</p>
            <p>The goal was to explore new ways to produce servers in a more responsible way&#46; Among other interesting prototypes, Jerry was the cheapest and easiest frame to replicate&#46; We founded a non-profit organization ("loi 1901") to push the adventure further&#46;</p>
        </div>
    </div>
</div>

<hr class="featurette-divider">

<div class="featurette">

    <div class="row feature-primary">
        <div class="col-md-7 order-md-2">
            <div class="row">
                <div class="col-md-6"><img src="{{ asset("build/images/2012_fabelier.jpg") }}"></div>
                <div class="col-md-6"><img src="{{ asset("build/images/2012_cotedivoire.jpg") }}"></div>
            </div>
            <div class="row">
                <div class="col-md-6"><img src="{{ asset("build/images/2012_alger_esi.jpg") }}"></div>
                <div class="col-md-6"><img src="{{ asset("build/images/2012_palais_tokyo.jpg") }}"></div>
            </div>
        </div>
        <div class="col-md-5 order-md-1">
            <h2>2012</h2>
            <h3>Doing It Together</h3>
            <p>Jerry experienced its attractive superpower during the workshops organized in Paris&#46; Gathering people from tech to artist and eco&#45;minded communities was revealed as part of its nature&#46; Jerry also flew to <a href="http://www.innovafrica.org/">Innov&#39;Africa</a> where he inspired some local tech activists&#46;</p>
            <p>Thanks to <a href="http://afriworkers.net/">Afriworkers</a> and free software communities mobilization&#44; the first Jerry born overseas was made in Yamoussoukro&#44; Ivory Coast&#46;</p>
            <p>That led us to the organization of two one&#45;week&#45;long workshops in Algiers in December&#46;</p>
        </div>
    </div>
</div>

<hr class="featurette-divider">

<div class="featurette">

    <div class="row feature-primary">
        <div class="col-md-7 order-md-1">
            <div class="row">
                <div class="col-md-6"><img src="{{ asset("build/images/2013_aljerry.jpg") }}"></div>
                <div class="col-md-6"><img src="{{ asset("build/images/2013_jerry_cse.jpg") }}"></div>
            </div>
            <div class="row">
                <div class="col-md-6"><img src="{{ asset("build/images/2013_open_minds.jpg") }}"></div>
                <div class="col-md-6"><img src="{{ asset("build/images/2013_afriworkers.jpg") }}"></div>
            </div>
        </div>
        <div class="col-md-5 order-md-2">
            <h2>2013</h2>
            <h3>Building a network of sharing</h3>
            <p>Sharing to foster a culture of remix and innovation in a network where everyone can learn and teach practical knowledge about information technology&#46; The more people will make their own Jerry&#44; the more inspiration and improvements will come up&#33;</p>
        </div>
    </div>
</div>
