
<!-- Three columns of text below the carousel -->
<div class="row">
    <div class="col-lg-4">
        <img src="{{ asset("build/images/logo-emmabuntus.png") }}" alt="" class="bd-placeholder-img rounded-circle" width="140" height="140">

        <h2>Emmabuntüs</h2>
        <p>They build a lightweight GNU/Linux distribution that runs like a charm on Jerry</p>
        <p><a class="btn btn-secondary" href="http://emmabuntus.org/" title="" target="_blank">View details &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
        <img src="{{ asset("build/images/logo-obc.png") }}" alt="" class="bd-placeholder-img rounded-circle" width="140" height="140">

        <h2>Open Bidouille Camp</h2>
        <p>Open parties dedicated to DIY projects</p>
        <p><a class="btn btn-secondary" href="http://openbidouille.net/">View details &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
        <img src="{{ asset("build/images/logo-afriworkers.jpg") }}" alt="" class="bd-placeholder-img rounded-circle" width="140" height="140">

        <h2>Afriworkers</h2>
        <p>They kickstarted the JerryClan in Ivory Coast</p>
        <p><a class="btn btn-secondary" href="http://www.afriworkers.net/">View details &raquo;</a></p>
    </div><!-- /.col-lg-4 -->

    <div class="col-lg-4">
        <img src="{{ asset("build/images/logo-kisskissbankbank.png") }}" alt="" class="bd-placeholder-img rounded-circle" width="140" height="140">
        <h2>Kiss Kiss Bank Bank</h2>
        <p>They bring creative projects to life with crowdfunding</p>
        <p><a class="btn btn-secondary" href="http://www.kisskissbankbank.com/">View details &raquo;</a></p>
    </div><!-- /.col-lg-4 -->

    <div class="col-lg-4">
        <img src="{{ asset("build/images/logo-shellmates.jpg") }}" alt="" class="bd-placeholder-img rounded-circle" width="140" height="140">
        <h2>Shellmates</h2>
        <p>They co-organized a Jerry workshop at ESI Algiers</p>
        <p><a class="btn btn-secondary" href="https://www.facebook.com/shellmates">View details &raquo;</a></p>
    </div><!-- /.col-lg-4 -->

    <div class="col-lg-4">
        <img src="{{ asset("build/images/logo-fabelier.png") }}" alt="" class="bd-placeholder-img rounded-circle" width="140" height="140">
        <h2>Fabelier</h2>
        <p>Hosted the first Jerry workshop in Paris!</p>
        <p><a class="btn btn-secondary" href="http://fabelier.org/">View details &raquo;</a></p>
    </div><!-- /.col-lg-4 -->

    <div class="col-lg-4">
        <img src="{{ asset("build/images/logo-makesense.png") }}" alt="" class="bd-placeholder-img rounded-circle" width="140" height="140">
        <h2>MakeSense</h2>
        <p>We are fueled by the same energy</p>
        <p><a class="btn btn-secondary" href="http://makesense.org">View details &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
</div><!-- /.row -->
