<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="canonical" href="">

        <link href="https://fonts.googleapis.com/css?family=Overpass:300,400,500|Dosis:400,700" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('build/css/open-iconic-bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('build/css/animate.css') }}">
        <link rel="stylesheet" href="{{ asset('build/css/owl.carousel.min.css') }}">
        <link rel="stylesheet" href="{{ asset('build/css/owl.theme.default.min.css') }}">
        <link rel="stylesheet" href="{{ asset('build/css/magnific-popup.css') }}">
        <link rel="stylesheet" href="{{ asset('build/css/aos.css') }}">
        <link rel="stylesheet" href="{{ asset('build/css/ionicons.min.css') }}">
        <link rel="stylesheet" href="{{ asset('build/css/bootstrap-datepicker.css') }}">
        <link rel="stylesheet" href="{{ asset('build/css/jquery.timepicker.css') }}">
        <link rel="stylesheet" href="{{ asset('build/css/flaticon.css') }}">
        <link rel="stylesheet" href="{{ asset('build/css/icomoon.css') }}">
        <link rel="stylesheet" href="{{ asset('build/css/fancybox.min.css') }}">

        <link rel="stylesheet" href="{{ asset('build/css/bootstrap.css') }}">

        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>

        <header>
            <!--
            <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">Jerry - do it together</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarCollapse">
                        <ul class="navbar-nav me-auto mb-2 mb-md-0">
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="#">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="http://blog.youandjerrycan.org" title="" target="_blank" onclick="_gaq.push(['_trackEvent', 'Resources', 'Blog', 'Resources menu']);">Blog</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="http://agenda.youandjerrycan.org" title="" target="_blank" onclick="_gaq.push(['_trackEvent', 'Resources', 'Agenda', 'Resources menu']);">Agenda</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="https://www.facebook.com/pages/Jerry-Do-It-Together/518513301524401" title="" target="_blank" onclick="_gaq.push(['_trackEvent', 'Resources', 'Facebook', 'Resources menu']);">Facebook</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="http://twitter.com/JerryDIT" title="" target="_blank" onclick="_gaq.push(['_trackEvent', 'Resources', 'Twitter', 'Resources menu']);">Twitter</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="mailto:&#104;&#101;&#108;&#108;&#111;&#064;&#121;&#111;&#117;&#097;&#110;&#100;&#106;&#101;&#114;&#114;&#121;&#099;&#097;&#110;&#046;&#111;&#114;&#103;" title="" onclick="_gaq.push(['_trackEvent', 'Resources', 'Contact', 'Resources menu']);">cont@ct</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            -->
            <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
                <div class="container">
                    <a class="navbar-brand" href="index.html">Jerry</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="oi oi-menu"></span> Menu
                    </button>

                    <div class="collapse navbar-collapse" id="ftco-nav">
                        <ul class="navbar-nav ml-auto">


                            <li class="nav-item active"><a href="#resources" class="nav-link" onclick="_gaq.push(['_trackEvent', 'Nav', 'Ressources', 'Top navbar']);$.scrollTo('#resources',800,{offset:-50});return false;">Resources</a></li>
                            <li class="nav-item"><a href="#values" class="nav-link" onclick="_gaq.push(['_trackEvent', 'Nav', 'Manifesto', 'Top navbar']);$.scrollTo('#values',800,{offset:-50});return false;">Manifesto</a></li>
                            <li class="nav-item"><a href="#jerryinaction" class="nav-link" onclick="_gaq.push(['_trackEvent', 'Nav', 'JCinAction', 'Top navbar']);$.scrollTo('#jerryinaction',800,{offset:-50});return false;">JerryClans in action</a></li>
                            <li class="nav-item"><a href="#origins" class="nav-link" onclick="_gaq.push(['_trackEvent', 'Nav', 'Origins', 'Top navbar']);$.scrollTo('#origins',800,{offset:-50});return false;">Origins</a></li>
                            <li class="nav-item"><a href="#friens" class="nav-link" onclick="_gaq.push(['_trackEvent', 'Nav', 'Friends', 'Top navbar']);$.scrollTo('#friends',800,{offset:-50});return false;">Friends</a></li>
                            <li class="nav-item"><a href="#faq" class="nav-link" onclick="_gaq.push(['_trackEvent', 'Nav', 'FAQ', 'Top navbar']);$.scrollTo('#faq',800,{offset:-50});return false;">FAQ</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- END nav -->
        </header>

        <main class="main">

            {% block body %}{% endblock %}

        </main>


        <footer class="footer">
            <div class="container">
                <div class="row mb-5">
                    <div class="col-md-6 col-lg-4">
                        <h3 class="heading-section">About Us</h3>
                        <p class="lead">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
                        <p class="mb-5">Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                        <p><a href="#" class="link-underline">Read  More</a></p>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <h3 class="heading-section">Recent Blog</h3>
                        <div class="block-21 d-flex mb-4">
                            <figure class="mr-3">
                                <img src="images/img_1.jpg" alt="" class="img-fluid">
                            </figure>
                            <div class="text">
                                <h3 class="heading"><a href="#">Water Is Life. Clean Water In Urban Area</a></h3>
                                <div class="meta">
                                    <div><a href="#"><span class="icon-calendar"></span> July 29, 2018</a></div>
                                    <div><a href="#"><span class="icon-person"></span> Admin</a></div>
                                    <div><a href="#"><span class="icon-chat"></span> 19</a></div>
                                </div>
                            </div>
                        </div>

                        <div class="block-21 d-flex mb-4">
                            <figure class="mr-3">
                                <img src="images/img_2.jpg" alt="" class="img-fluid">
                            </figure>
                            <div class="text">
                                <h3 class="heading"><a href="#">Life Is Short So Be Kind</a></h3>
                                <div class="meta">
                                    <div><a href="#"><span class="icon-calendar"></span> July 29, 2018</a></div>
                                    <div><a href="#"><span class="icon-person"></span> Admin</a></div>
                                    <div><a href="#"><span class="icon-chat"></span> 19</a></div>
                                </div>
                            </div>
                        </div>

                        <div class="block-21 d-flex mb-4">
                            <figure class="mr-3">
                                <img src="images/img_4.jpg" alt="" class="img-fluid">
                            </figure>
                            <div class="text">
                                <h3 class="heading"><a href="#">Unfortunate Children Need Your Love</a></h3>
                                <div class="meta">
                                    <div><a href="#"><span class="icon-calendar"></span> July 29, 2018</a></div>
                                    <div><a href="#"><span class="icon-person"></span> Admin</a></div>
                                    <div><a href="#"><span class="icon-chat"></span> 19</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="block-23">
                            <h3 class="heading-section">Get Connected</h3>
                            <ul>
                                <li><span class="icon icon-map-marker"></span><span class="text">203 Fake St. Mountain View, San Francisco, California, USA</span></li>
                                <li><a href="#"><span class="icon icon-phone"></span><span class="text">+2 392 3929 210</span></a></li>
                                <li><a href="#"><span class="icon icon-envelope"></span><span class="text">info@yourdomain.com</span></a></li>
                            </ul>
                        </div>
                    </div>


                </div>
                <div class="row pt-5">
                    <div class="col-md-12 text-center">

                        <p>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="ion-ios-heart text-danger" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank" >Colorlib</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>

                    </div>
                </div>
            </div>
        </footer>

        <!-- loader -->
        <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}

            <script src="{{ asset('build/js/jquery.min.js') }}"></script>
            <script src="{{ asset('build/js/jquery-migrate-3.0.1.min.js') }}"></script>
            <script src="{{ asset('build/js/popper.min.js') }}"></script>
            <script src="{{ asset('build/js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('build/js/jquery.easing.1.3.js') }}"></script>
            <script src="{{ asset('build/js/jquery.waypoints.min.js') }}"></script>
            <script src="{{ asset('build/js/jquery.stellar.min.js') }}"></script>
            <script src="{{ asset('build/js/owl.carousel.min.js') }}"></script>
            <script src="{{ asset('build/js/jquery.magnific-popup.min.js') }}"></script>
            <script src="{{ asset('build/js/bootstrap-datepicker.js') }}"></script>

            <script src="{{ asset('build/js/jquery.fancybox.min.js') }}"></script>

            <script src="{{ asset('build/js/aos.js') }}"></script>
            <script src="j{{ asset('build/s/jquery.animateNumber.min.js') }}"></script>
            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
            <script src="{{ asset('build/js/google-map.js') }}"></script>
            <script src="{{ asset('build/js/main.js') }}"></script>
        {% endblock %}
    </body>
</html>
